body{

}

h1,h2{
    text-align: center;
    Kfont-family: 'Permanent Marker', cursive;
}

items-collection{
    display: block;
}

items-collection > h1{

}

items-body{
    display: block;
    padding-left: 1em;
}

item{
    display: block;
}


modifiers-group{
    display: block;
    font-style: italic;
    padding-left: 1em;
    border:1px solid;

}

modifier{
    display: inline-block;
    float: right;
    font-style: normal;
    padding: 0 1em;
    font-size: .8em;

}

.description{
    display: block;
    font-style: italic;
}

.id{

}

.name{

}

.price{
    float: right;
    font-style: italic;
    font-weight: bold;
}